{% extends "base.html" %}
{% block title %}All Users{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>All Contacts</h2>
  {% if users %}
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No users found.</p>
  {% endif %}
</div>
{% endblock %}
